@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{
    text-align: center;


}

body{
    background-image: rgb(86, 169, 197);
}


#main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container-a {
    width: 520px;
    height: 700px;
    margin-top: 2em;
    margin-right: 2em;
    display: flex;
    flex-wrap: wrap;
}

#container-b {
    width: 500px;
    margin-top: 2em;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    margin-left: 2em;
}

/* header style=ing */
#header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;

    font-family: 'Josefin Sans', sans-serif;
}

/* what each block will look like in the crossword */
.singleBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 2em;
    width: 2em;
    background-color: rgba(255, 255, 255, 0.603);
    cursor: pointer;
    
}

.singleBlockTest {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 2em;
    width: 2em;
    /* background-color: rgba(34, 103, 163, 0.288); */
    background-color: rgba(190, 132, 132, 0.603);
    cursor: pointer;
    
}

/* singe attributes */
.border {
    border: 2px solid black;
}

.biggerFont{
    font-size: 20px;
}
.biggerFontandStrikethrough{
    font-size: 20px;
    text-decoration: line-through;
    color: grey;
}

.background-select {
    background-color: red;
}

.blue {
    background-color: blue;
}
/* BUTTON */

.button-invisible{
    display: none;
    text-align: center;
    background-color: white;
    margin-top: 2em;
    width: 200px;
    height: 100px;
    font-size: 30px;

}
.button-visible{
    display: default;
    text-align: center;
    background-color: white;
    margin-top: 2em;
    width: 200px;
    height: 100px;
    font-size: 30px;
}

#timer{
    font-size: 75px;
}

.winloseText {
    font-size: 40px;
}