@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
/* BUTTON TEXT */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
/* word line text */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
:ROOT{
    --Allbackgrounds: white;
}
*{
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #89b0ae;
    border: 10px solid #48494c;
    width: 1350px;
    margin: 2em auto; 
    border-radius: 10px;

}

#head-container{
    margin-top: 1em;
}
#main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--Allbackgrounds)
}

#container-aLevelOne {
    width: 466px;
    height: 440px;
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
    display: flex;
    flex-wrap: wrap;
}

#container-aLevelTwo {
    width: 520px;
    height: 650px;
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 5em;
    margin-left: 2em;
    display: flex;
    flex-wrap: wrap;
}

#container-aLevelThree {
    width: 685px;
    height: 775px;
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 3.5em;
    display: flex;
    flex-wrap: wrap;
}

#container-b {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 400px;
    height: 100%;
    margin-top: 2em;
    text-align: center;
    font-weight: bolder;
    margin-left: 2em;
    margin-bottom: 2em;
}

/* header style=ing */
#header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    background-color: var(--Allbackgrounds);
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 100%;
    padding-top: 1em;
}

/* what each block will look like in the crossword */
.singleBlockTestLevelOne{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 3.5em;
    width: 3.5em;
    background-color: #f7f7f7;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
}
.singleBlockTestLevelOne:hover{
    background-color: #ffd6ba;
}
.singleBlockLevelOne{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 3.5em;
    width: 3.5em;
    background-color: #f7f7f7;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
}
.singleBlockLevelOne:hover{
    background-color: #ffd6ba;
}
.singleBlockTestLevelTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 2em;
    width: 2em;
    background-color: #f7f7f7;
    /* background-color: #ffd6ba; */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
    cursor: pointer;
    
}
.singleBlockTestLevelTwo:hover{
    background-color: #ffd6ba;
}

.singleBlockLevelTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 2em;
    width: 2em;
    background-color: #f7f7f7;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
    cursor: pointer;
    
}
.singleBlockLevelTwo:hover{
    background-color: #ffd6ba;
}

.singleBlockLevelThree{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 2em;
    width: 2em;
    background-color: #f7f7f7;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
    cursor: pointer;

}
.singleBlockLevelThree:hover{
    background-color: #ffd6ba;
}


.singleBlockTestLevelThree{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 2em;
    width: 2em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1000;
    background-color: #f7f7f7;
    /* background-color: #ffd6ba; */
    cursor: pointer;
    
}
.singleBlockTestLevelThree:hover{
    background-color: #ffd6ba;
}
 #word-box{
     height: 300;
     margin-top: 2em;
     font-family: 'Roboto Slab', serif;
     color: #fd0000;
     display: grid;
     grid-template-columns: 1fr 1fr;
 }
 #timer-box{ 
    font-family: 'Roboto Slab', serif;
     height: 20%;
     margin: 0 auto;
     height: 150px ;
     width: 350px;
     padding-bottom: 1em;
     border: 1px solid black;
     background-color: #ffd6ba;
 }

/* single attributes */
.border {
    border: 2px solid black;
}

.biggerFont{
    font-size: 22px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.biggerFontandStrikethrough{
    font-size: 22px;
    text-decoration: line-through;
    color: grey;
    margin-top: 1em;
    margin-bottom: 1em;
}

.background-select {
    background-color: red;
}

.blue {
    background-color: blue;
}
/* BUTTON */

.button-invisible{
    display: none;
    text-align: center;
    background-color: white;
    width: 200px;
    height: 100px;
    font-size: 30px;

}
.button-visible{
    display: default;
    text-align: center;
    background-color: white;
    width: 200px;
    height: 100px;
    font-size: 30px;
}

#timer{
    font-size: 40px;
}

.winloseText {
    font-size: 40px;
}

#chooseText {
    font-family: 'Fredoka One', cursive;
    font-size: 90px;
    font-weight: 200px;
    display: inline;
    color: #89b0ae;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 10px;
}

#header-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: white;
    width: 1350px;
    padding-top: 1em;
}
#icon{
    height: 200px;
    width: 200px;
    display: inline;
}
.menu-button{
    width: 300px;
    height: 100px;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    background-color: #ffd6ba;
    border-radius: 10px;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    white-space: normal;
    color: #89b0ae;
    stroke-width: 1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
.menu-button:hover{
background-color: #89b0ae;
color: #ffd6ba;


}

#button-div{
    background-color: white;
    width: 1350px;
}

#returntoMainButton{
    width: 250px;
    height: 100px;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    background-color: rgb(204, 200, 200);
    border-radius: 10px;
    margin-top: .5em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}
#returntoMainButton:hover{
    background-color: rgb(137, 170, 170);;

}

#complete-text{
    font-family:'Fredoka One', cursive;
}

#status-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.status{
    display: inline;
    font-size: 25px;
    font-family: 'Fredoka One', cursive;

    margin-top: .25em;
    width: 550px;
}

#header{
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    color: #89b0ae;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

#rules-box{
    display: flex;    
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Fredoka One', cursive;;
    font-size: 20px;
}
.rules-text{
    margin: .5em;
    font-size: 20px;
    color: #48494c
}

#difficulty-text{
    font-size: 40px;
    color: #89b0ae;
    font-family: 'Fredoka One', cursive;;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: 5px solid #48494c;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#rules-text{
    text-decoration: underline;
    font-size: 22px;
    margin-bottom: .5em;

}

#vid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka One', cursive;;
    color: #0000;
}